body {
    font-family: Arial, sans-serif;
    background:linear-gradient(#cccccc,#d8d8c0);
   
    padding: 20px;
  }
  
  .container {
    max-width: 800px;
    margin: auto;
    background: rgb(0, 0, 0);
    padding: 30px;
    border-radius: 8px;
   
  }
  
  h1, h2 {
    color: #fffdfd;
  }
  
  form input,form select,form button {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px 0;
    font-size: 1rem;
    border: 1px solid #e2e8f0;
    border-radius: 5px;
  }
  
  button {
    padding: 10px;
    background: rgba(156, 156, 156, 0.719);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  button:hover {
    background: #adadad;
  }
  
  .acoes {
    margin-top: 30px;
  }
  
  .acoes button {
    margin: 5px 0;
    width: 100%;
  }
  
  #resultado {
    margin-top: 30px;
    padding: 15px;
    background: #e9ecef;
    border-radius: 4px;
  }
  
